.Adds{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.Adds>img{
    width: 90% !important;
}
@media(max-width:769px) {
    .Adds{
        display: flex;
        margin-top: 10%;
    }
    .Adds>img{
        width: 100% !important;
    }
}