.Adds{
    display: flex;
    padding: 21px;
    margin: 0 5%;
    align-items: center;
    justify-content: center;
}
.Adds>img{
    width: 100% !important;
}
@media(max-width:769px) {
    .Adds{
        display: flex;
        padding: 21px 4px;
    }
}