/* .frame {
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    animation: image 2s infinite alternate;
  }
   */
@keyframes theme {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.FirstHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw !important;
    height: 105vh;
    overflow: hidden;
}
.splide__arrow{
    opacity: 1 !important;
    color: #000000 !important;
    background-color: transparent !important;
}
.theme {
    width: 70vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    animation-name: theme;
    animation-duration: 1s;
}

.backimage {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 105vh;
    /* animation-name: image;
    animation-duration: 3s; */
}

.backimage1 {
    animation-name: img1;
    animation-duration: 1s;
}

.backimage2 {
    animation-name: img2;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes img1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes img2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.sections_forM {
    display: none;
}

/* .sections_forM */
.FirstHome__Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    /* background-color: #1a146a34; */
}

.Header__section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Nav-items li:hover{
    cursor: pointer;
}

.Header__logo {
    display: flex;
    width: 40vw;
    /* padding-left: 21px; */
    align-items: center;
}

.Header__logo>img {
    display: flex;
    height: fit-content;
}

.sections {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.call>img {
    /* padding: 0 20px 0 40px; */
    padding-top: 4px;
    height: 27px;
    /* width: 12px; */
}

.firstBox {
    position: absolute;
    width: 500px;
    height: 240px;
    left: 103px;
    bottom: 5vh;
}

.text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.text2 {
    font-family: 'Montserrat';
    font-style: normal;
    padding-top: 20px;
    font-weight: 900;
    font-size: 64px;
    line-height: 49px;
    color: #FFFFFF;
}
.text2 span{
    display: none;
}

.FirstHome__input {
    display: flex;
    position: absolute;
    width: 500px;
    height: 50px;
    top: 150px;
    background: #FFFFFF;
    border-radius: 30px;
    align-items: center;
    padding: 5px;
}

.FirstHome__input>input {
    width: 175px;
    height: 45px;
    border: none;
    outline: none;
    margin-left: 17px;
}

.SocialLinks{
    display: flex;
    position: absolute;
    top: 230px;
    justify-content:space-evenly;
    width: 120px;
    align-items: center;
    padding: 8px;
}
.social-link:hover{
    cursor: pointer;
}

.divider {
    height: 45px;
    width: 3px !important;
}

.search {
    /* position: absolute; */
    right: 10px;
    padding-left: 10px;
    width: 32px;
    height: 32px;
}

.dropdown {
    padding: 0 6px;
}

.secondbox_row2 {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 5vw;
    bottom: 5vh;
}

.changeArrow {
    display: flex;
    background: #57BEBE;
    border: 1px solid #827D7D;
    border-radius: 50%;
    padding: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
}

.changeArrowImg {
    display: flex;
    height: 30px;
    width: 30px;
}

.changeIcon {
    position: absolute;
    display: flex;
    width: 280px;
    height: 208.83px;
    bottom: -14vh;
    right: 9.3vw;
    animation-name: activity10;
    animation-duration: 0.5s;
}

@keyframes activity10 {
    0% {
        bottom: 2vh;
        right: 32.3vw;
        width: 150px;
        height: 150px;
    }

    100% {
        bottom: 0vh;
        bottom: -14vh;
        width: 280px;
        height: 208.83px;
    }
}

.one {
    position: absolute;
    bottom: 2vh;
    right: 32.3vw;
    width: 150px;
    height: 150px;
    animation-name: activity21;
    animation-duration: 0.5s;
}

@keyframes activity21 {
    0% {
        bottom: 26vh;
        right: 28vw;
    }

    100% {
        bottom: 2vh;
        right: 32.3vw;
    }
}

.two {
    position: absolute;
    bottom: 26vh;
    right: 28vw;
    width: 150px;
    height: 150px;
    animation-name: activity32;
    animation-duration: 0.5s;
}

/* animation for icons */

@keyframes activity32 {
    0% {
        bottom: 42vh;
        right: 15vw;
    }

    100% {
        bottom: 26vh;
        right: 28vw;
    }
}


.three {
    position: absolute;
    bottom: 42vh;
    right: 15vw;
    width: 150px;
    height: 150px;
    animation-name: activity43;
    animation-duration: 0.5s;
}

@keyframes activity43 {
    0% {
        bottom: 26vh;
        right: 0vh;
    }

    100% {
        bottom: 42vh;
        right: 15vw;
    }
}


.four {
    position: absolute;
    bottom: 26vh;
    right: 0vh;
    width: 150px;
    height: 150px;
    animation-name: activity54;
    animation-duration: 0.5s;
}

@keyframes activity54 {
    0% {
        bottom: 2vh;
        right: -5vw;
    }

    100% {
        bottom: 26vh;
        right: 0vh;
    }
}

.five {
    position: absolute;
    bottom: 2vh;
    right: -5vw;
    width: 150px;
    height: 150px;
    animation-name: activity05;
    animation-duration: 0.5s;
}

@keyframes activity05 {
    0% {
        bottom: -15vh;
        right: 10.3vw;
        width: 280px;
        height: 208.83px;
    }

    100% {
        bottom: 2vh;
        right: -5vw;
        width: 150px;
        height: 150px;
    }
}

.second_Border {
    width: 37vw;
    height: 50vh;
    border-top-left-radius: 50vh;
    border-top-right-radius: 50vh;
    border: 6px dashed #78e454;
    border-bottom: 0;
    position: absolute;
    bottom: 20vh;
    right: 6vw;
}

@media (max-width:768px) {
    .Header__logo {
        padding-left: 21px;
    }

    .FirstHome {
        width: 100vw;
        height: 45vh;
    }

    .theme {
        width: 80vw;
    }

    .FirstHome__Header {
        height: 7vh;
        justify-content: space-between;
        width: 100%;
    }

    .Header__logo>img {
        height: 40px;
    }

    .text2 span{
        display: block;
    }

    .sections_forM {
        display: flex;
        width: 20%;
        z-index: 10;
        height: 2vh;
        margin-top: -6px;
        justify-content: center;

    }

    .backimage {
        top: 0;
        width: 100vw;
        height: 40vh;
    }

    .sections {
        display: none;
    }

    .secRow {
        display: flex;
        flex-direction: column;
    }

    .firstBox {
        position: absolute;
        width: 100vw;
        height: 200px;
        left: 0px;
        bottom: 55vh;
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
    .SocialLinks{
        display: none;
    }
    .FirstHome__input {
        display: flex;
        position: absolute;
        width: 90vw;
        height: 40px;
        bottom: 0vh !important;
        /* bottom: 43px; */
        background: #FFFFFF;
        border-radius: 30px;
        align-items: center;
        padding: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .FirstHome__input>input {
        width: 30%;
        height: 35px;
        border: none;
        outline: none;
        margin-left: 10px;
    }

    .divider {
        height: 40px;
        width: 1.5px !important;
    }

    .search {
        position: inherit;
        right: 15px;
    }

    .combText {
        display: flex;
        position: absolute;
        bottom: 40px;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .text1 {
        display: flex;
        font-size: large;
    }

    .text2 {
        display: flex;
        padding-top: 0px;
        font-size: x-large;
        padding-left: 4px;
        line-height: 49px;
    }

    .second_Border {
        width: 80vw;
        height: 20vh;
        border-top-left-radius: 30vh;
        border-top-right-radius: 30vh;
        border: 2px dashed #78e454;
        border-bottom: 0;
        position: absolute;
        top: 9vh;
        right: 10vw;
    }

    .secondbox_row2 {
        display: flex;
        width: 90vw;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        height: fit-content;
        right: 5vw;
        top: 21vh;
    }

    .changeArrowImg {
        display: flex;
        height: 16px;
        width: 16px;
    }

    .changeArrow {
        display: flex;
        background: #57BEBE;
        border: 1px solid #827D7D;
        border-radius: 50%;
        padding: 5px;
        align-items: center;
        justify-content: center;
        /* margin-top: 8vh; */
    }

    .changeIcon {
        display: flex;
        width: 75px;
        height: 75px;
        /* bottom: -7vh; */
        top: 15vh;
        /* right: calc(50vw - 75px); */
        left: 30vw;
    }

    @keyframes activity10 {
        0% {
            top: 7vh;
            left: -10vw;
        }

        100% {
            top: 15vh;
            /* right: calc(50vw - 75px); */
            left: 30vw;
        }
    }

    .one {
        position: absolute;
        top: 7vh;
        left: -10vw;
        width: 75px;
        height: 75px;
    }

    @keyframes activity21 {
        0% {
            top: -2vh;
            left: 3vw;
        }

        100% {
            top: 7vh;
            left: -10vw;
        }
    }

    .two {
        position: absolute;
        top: -2vh;
        left: 3vw;
        width: 75px;
        height: 75px;
        /* background-color: white; */
    }


    @keyframes activity32 {
        0% {
            top: -5vh;
            left: 30vw;
        }

        100% {
            top: -2vh;
            left: 3vw;
        }
    }


    .three {
        position: absolute;
        top: -5vh;
        left: 30vw;
        width: 75px;
        height: 75px;
    }

    @keyframes activity43 {
        0% {
            top: -2vh;
            left: 53vw;
        }

        100% {
            top: -5vh;
            left: 30vw;
        }
    }

    .four {
        position: absolute;
        top: -2vh;
        left: 53vw;
        width: 75px;
        height: 75px;
    }

    @keyframes activity54 {
        0% {
            top: 7vh;
            left: 67vw;
        }

        100% {
            top: -2vh;
            right: 53vw;
        }
    }

    .five {
        position: absolute;
        top: 7vh;
        left: 67vw;
        width: 75px;
        height: 75px;
    }

    @keyframes activity05 {
        0% {
            top: 15vh;
            /* right: calc(50vw - 75px); */
            /* right: 30vw; */
            left: 30vw;
            width: 75px;
            height: 75px;
        }

        100% {
            top: 7vh;
            left: 67vw;
            width: 75px;
            height: 75px;
        }
    }

}