.icon_size {
    height: 120px;
    max-width: 120px;
    object-fit: cover;
    color: white;
    font-size: 30px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.changeIcon {
    position: absolute;
    height: 160px;
    bottom: -10vh;
    right: 15vw;
    animation-name: activity10;
    animation-duration: 0.5s;
}

.changeIconrev {
    animation-name: reverse_activity10 !important;
}

@keyframes reverse_activity10 {
    0% {
        bottom: 5vh;
        right: -4vw;
        height: 120px;
    }

    100% {
        /* bottom: 0vh; */
        bottom: -10vh;
        right: 15vw;
        height: 160px;
    }
}

@keyframes activity10 {
    0% {
        bottom: 5vh;
        right: 33vw;
        height: 120px;
    }

    100% {
        /* bottom: 0vh; */
        bottom: -10vh;
        right: 15vw;
        height: 160px;
    }
}

.one {
    position: absolute;
    bottom: 5vh;
    right: 33vw;
    animation-name: activity21;
    animation-duration: 0.5s;
}

.onerev {
    animation-name: reverse_activity21 !important;
}

@keyframes reverse_activity21 {
    0% {
        bottom: -10vh;
        right: 15vw;
        height: 160px;
    }

    100% {
        bottom: 5vh;
        right: 33vw;
    }
}

@keyframes activity21 {
    0% {
        bottom: 33vh;
        right: 28vw;
    }

    100% {
        bottom: 5vh;
        right: 33vw;
    }
}

.two {
    position: absolute;
    bottom: 33vh;
    right: 28vw;
    animation-name: activity32;
    animation-duration: 0.5s;
}

.tworev {
    animation-name: reverse_activity32 !important;
}

/* animation for icons */

@keyframes reverse_activity32 {
    0% {
        bottom: 5vh;
        right: 33vw;
    }

    100% {
        bottom: 33vh;
        right: 28vw;
    }
}

@keyframes activity32 {
    0% {
        bottom: 42vh;
        right: 15vw;
    }

    100% {
        bottom: 33vh;
        right: 28vw;
    }
}


.three {
    position: absolute;
    bottom: 42vh;
    right: 15vw;
    animation-name: activity43;
    animation-duration: 0.5s;
}

.threerev {
    animation-name: reverse_activity43 !important;
}

@keyframes reverse_activity43 {
    0% {
        bottom: 33vh;
        right: 28vw;
    }

    100% {
        bottom: 42vh;
        right: 15vw;
    }
}

@keyframes activity43 {
    0% {
        bottom: 33vh;
        right: 4vh;
    }

    100% {
        bottom: 42vh;
        right: 15vw;
    }
}


.four {
    position: absolute;
    bottom: 33vh;
    right: 4vh;
    animation-name: activity54;
    animation-duration: 0.5s;
}

.fourrev {
    animation-name: reverse_activity54 !important;
}

@keyframes reverse_activity54 {
    0% {
        bottom: 42vh;
        right: 15vw;
    }

    100% {
        bottom: 33vh;
        right: 4vh;
    }
}

@keyframes activity54 {
    0% {
        bottom: 5vh;
        right: -4vw;
    }

    100% {
        bottom: 33vh;
        right: 4vh;
    }
}

.five {
    position: absolute;
    bottom: 5vh;
    right: -4vw;
    animation-name: activity05;
    animation-duration: 0.5s;
}

.fiverev {
    animation-name: reverse_activity05 !important;
}

@keyframes reverse_activity05 {
    0% {
        bottom: 33vh;
        right: 4vh;
        height: 120px;
    }

    100% {
        bottom: 5vh;
        right: -4vw;
        height: 120px;
    }
}

@keyframes activity05 {
    0% {
        bottom: -10vh;
        right: 15vw;
        height: 160px;
    }

    100% {
        bottom: 5vh;
        right: -4vw;
        height: 120px;
    }
}

/* ********************************************************************************** */
/* *************************************Css for mobile******************************* */
/* ********************************************************************************** */

@media (max-width:768px) {

    .icon_size {
        height: 60px;
        max-width: 60px;
        object-fit: cover;
        color: white;
        font-size: 30px;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }

    .changeIcon {
        display: flex;
        top: 18vh;
        left: 28vw;
        height: 80px;
        max-width: 80px;
    }

    @keyframes activity10 {
        0% {
            top: 14.65vh;
            left: -7vw;
        }

        100% {
            top: 18vh;
            left: 28vw;
            height: 80px;
            max-width: 80px;
        }
    }

    @keyframes reverse_activity10 {
        0% {
            top: 14.65vh;
            left: 72vw;
            height: 60px;
            max-width: 60px;
        }

        100% {
            top: 18vh;
            left: 28vw;
            height: 80px;
            max-width: 80px;
        }
    }

    .one {
        position: absolute;
        top: 14.65vh;
        /* top: 14.65vh; */
        left: -7vw;
    }


    @keyframes reverse_activity21 {
        0% {
            top: 18vh;
            left: 28vw;
            height: 80px;
            max-width: 80px;
        }

        100% {
            bottom: 5vh;
            right: 33vw;
        }
    }

    @keyframes activity21 {
        0% {
            top: 2vh;
            left: 1vw;
        }

        100% {
            top: 14.65vh;
            left: -7vw;
        }
    }

    .two {
        position: absolute;
        top: 2vh;
        left: 1vw;
        /* background-color: white; */
    }


    @keyframes reverse_activity32 {
        0% {
            top: 14.65vh;
            left: -7vw;
        }

        100% {
            top: 2vh;
            left: 1vw;
        }
    }

    @keyframes activity32 {
        0% {
            top: -5vh;
            left: calc(28vw + 15px);
        }

        100% {
            top: 2vh;
            left: 1vw;
        }
    }


    .three {
        position: absolute;
        top: -5vh;
        left: calc(28vw + 15px);
    }

    @keyframes reverse_activity43 {
        0% {
            top: 2vh;
            left: 1vw;
        }

        100% {
            top: -5vh;
            left: calc(28vw + 15px);
        }
    }

    @keyframes activity43 {
        0% {
            top: 2vh;
            left: 62vw;
        }

        100% {
            top: -5vh;
            left: calc(28vw + 15px);
        }
    }

    .four {
        position: absolute;
        top: 2vh;
        left: 62vw;
    }

    @keyframes reverse_activity54 {
        0% {
            top: -5vh;
            left: calc(28vw + 15px);
        }

        100% {
            top: 2vh;
            left: 62vw;
        }
    }

    @keyframes activity54 {
        0% {
            top: 14.65vh;
            left: 72vw;
        }

        100% {
            top: 2vh;
            left: 62vw;
        }
    }

    .five {
        position: absolute;
        top: 14.65vh;
        left: 72vw;
    }

    @keyframes reverse_activity05 {
        0% {
            top: 2vh;
            left: 62vw;
        }

        100% {
            top: 14.65vh;
            left: 72vw;
        }
    }

    @keyframes activity05 {
        0% {
            top: 18vh;
            left: 28vw;
            height: 80px;
            max-width: 80px;
        }

        100% {
            top: 14.65vh;
            left: 72vw;
        }
    }

}