/* onMouseOver="this.style.color='#0F0'" */
.testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 21px;
}

.testimonials_sec {
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding-top: 21px;
}

.testimonials_secDiv {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
}

.testimonials_secDiv>h2 {
    /* wid */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding-top: 6px;
}

.testimonials_secDiv>h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 3px;
}

.testimonials_secDiv>h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 60%;
}

.imgPro {
    height: 120px !important;
    width: 120px !important;
    z-index: 10 !important;
    left: 34%;
    top: 0;
}

.testimonials_secDiv>img {
    position: absolute;
    width: 350px;
    height: fit-content;
    z-index: -1;
}

.testimonials_sec_formobile {
    display: none;
}
.splide__pagination__page.is-active {
    background: #100f0f !important;
}

@media (max-width:768px) {
    .testimonials_sec {
        display: none;
    }

    .testimonials_sec_formobile {
        display: flex;
        width: 100vw !important;
        justify-content: center;
        padding-top: 21px;
    }


    .testimonials_secDiv {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        height: 400px;
    }
    .testimonials_secDiv>h5 {
        /* wid */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600 !important;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        width: 50%;
    }
    .imgPro {
        left: 29%;
        top: 0;
    }

    .testimonials_secDiv>img {
        position: absolute;
        width: 300px;
        /* max-width: 90vw; */
        height: fit-content;
        z-index: -1;
    }
}
