:root {
    --black: #000000;
    --fountain-blue: #57bebe;
    --gray: #909090;
    --white: #ffffff;
    --font-size-l2: 14px;
    --font-size-s: 10px;
    --font-size-xl2: 16px;
    --font-size-xxl2: 18px;
    --font-size-xxxl: 22px;
    --font-size-xxxl2: 20px;
    --font-size-xxxxl: 28px;
    --font-family-montserrat: "Montserrat", Helvetica;
}

.first-flex {
    flex: 70%;

}

.second-flex {
    flex: 30%;
}

.chopta-tungnath-chandrashilla-trek {
    color: var(--fountain-blue);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxxl);
    font-weight: 600;
    text-align: center;

}

.row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

}

.inner {
    display: flex;
    margin-left: 5%;
    margin-right: 4%;
}

.inner img {
    padding-right: 10px;
}

.rating {
    min-width: 66px;
    height: 37px;
    background-color: var(--fountain-blue);
    border-radius: 20px;
    padding: 7px 9px;

    display: inline-block;
}

.rating p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
    margin: auto;

}

.row-2 {

    padding-bottom: 15px;
}

.stars {
    display: inline-block;
    height: 23px;
}

.icons-row {
    display: flex;
    align-items: center;
    justify-content: center;

    float: center;
    margin-left: 120px;
}

.icons-row img {
    margin: 0 3%;
}

.second-flex-box {
    width: 357px;
    height: 198px;
    border: 1px solid #909090;
    box-sizing: border-box;
    border-radius: 30px;
    padding: auto;
    text-align: center;
}

.second-flex-box p:first-child {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #57BEBE;
    display: inline-block;
    margin-top: 1rem;
    padding-right: 10px;

}

.second-flex-box p:nth-child(2) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: inline-block;
    margin-top: 1rem;
    /* identical to box height */

    text-decoration-line: line-through;

    color: rgba(0, 0, 0, 0.55);
}

.second-flex-box p:nth-child(3) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    margin: 0;
    margin-bottom: 2rem;
    color: #FC2618;
}

.based {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #57BEBE;

}

.discount {

    background: #57BEBE;
    border-radius: 30px;
    width: 150px;
    height: 43.39px;
    margin: auto;
}

.discount p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: fit-content;
    color: #FFFFFF !important;

}

.Card-Container {
    display: flex;
    margin-top: 3.625rem;

}

@media (max-width:600px) {
    .Card-Container {
        display: flex;
        flex-direction: column;

    }

    .chopta-tungnath-chandrashilla-trek {

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;

        color: #57BEBE;
        text-align: left;
        margin-left: 10px;
    }

    .icons-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding: 1rem;

        flex-wrap: wrap;
    }

    .icons-row img {
        margin-right: 60px;
    }

    .target-wrap {

        width: 33%;

    }

    /* .second-flex{
        display: none;
    } */
    .based {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;

        color: #57BEBE;
    }

    .rating {
        width: 54px;
        height: 37px;

        background: #57BEBE;
        border-radius: 20px;
    }

    .stars {
        width: 98.18px;
        height: 23.33px;
    }

    .clock-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        color: #909090;

    }

    .chamoli-uk {

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        color: #909090;

    }

    .rating p {
        width: 33.55px;
        height: 20px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;

        color: #FFFFFF;

        opacity: 0.5;
    }

}