.secondPage {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 21px 0;
    margin-top: 2%;
}

.second_header {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.second_header>img {
    display: flex;
    height: 40px;
    padding-right: 12px;
    padding-top: 4px;
}

.destination-heading {
    padding: 18px;
}

.flex-destination span {
    display: inline-block;
}

.destination-heading {
    display: inline-block;
}

.side-crop {
    max-width: 100%;
    overflow: hidden;
}
.testClass{
    height: 500px;
}

.ek {
    height: 20px;
    margin-right: 5px;
    border: 2px solid rgba(74, 242, 242, 1);
}

.do {
    height: 25px;
    margin-right: 5px;
    border: 2px solid rgba(74, 242, 242, 1);
}

.teen {
    height: 30px;
    border: 2px solid rgba(74, 242, 242, 1);
}

.flex-destination {
    text-align: center;
}

.slider_splideOut {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-splide {
    display: flex;
    width: 75vw;
    text-align: center;
    justify-content: center;
}

.slider_splide_react {
    display: flex;
    width: 80vw !important;
}

.slider_splide_reactN {
    display: flex;
    width: 100vw !important;
    /* background-color: #000000; */
}

.slider_splide_react1 {
    width: 250px !important;
    margin: 12px 0;
    height: 500px;
}
.slider_splide_react1N {
    width: 22% !important;
    margin: 12px 1.5%;
}

.one1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-family: 'Montserrat';
    font-style: normal;
}

.one1>img {
    margin-right: 6px;
    /* width: 12px;
    height: 12px; */
}

.star_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* .head { */
    /* font-weight: 600; */
    /* font-size: 22px; */
    /* line-height: 27px; */
    /* color: #000000; */
/* } */
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.package_dates{
    padding: 10px 0;
}
.current_price{
    font-weight: 600;
    font-size: 23px;
}
.prev_price{
    text-decoration: line-through;
    opacity: 0.55;
}

.head {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    /* padding-top: 6px; */
}

.one1 p:nth-child(2) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    /* padding: 6px 0; */

}

.one1 img:nth-child(3) {
    padding: 6px 0;
}

.one1 p:nth-child(4) {
    display: block !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding: 6px 0;
}

.one1 p:nth-child(5) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    color: #000000;
    padding: 6px 0 3px 0;
}

.one1 p:nth-child(6) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.55);
}

.slider_splide_react_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 15vw;
    border-radius: 55px !important;
    overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
.trek__cursive{
    font-family: 'Euphoria Script', cursive;
    font-size: 3rem;
    color: white;
    font-weight: 600;
}

.slider_splide_react_img img{
    z-index: -1;
    position: absolute;
    object-fit: cover;
    border-radius: 30px !important;
}

.slider_splide_react_mobile {
    display: none;
}
/* .slider_splide_react */
.sliderDestination .slider-splide .splide .splide__arrows .splide__arrow--next {
    top: 40%;
    right: -3em !important;
}
.sliderDestination .slider-splide .splide .splide__arrows .splide__arrow--prev {
    top: 40%;
    left: -3rem;
}
.splide__arrow{
    height: 4em;
    width: 4em;
    border: solid 1px #a3a3a3ad;;
    background-color: #a3a3a3ad;
    opacity: 0.6;
}

@media(max-width:900px) {
    .slider-splide {
        display: flex;
        width: 90vw;
        text-align: center;
    }

    .slider_splide_react_mobile {
        display: block;
        width: 90vw !important;
    }

    .slider_splide_react {
        display: none;
    }

    .slider_splide_react1 {
        width: 46% !important;
        margin: 12px 2%;
        margin-top: 0;
        height: 360px;
    }
    .slider_splide_react1N {
        width: 100% !important;
        margin: 2%;
    }

    .slider_splide_react_img {
        width: 100%;
        height: 250px;
    }

    .second_header {
        font-weight: 700;
        font-size: 20px;
        line-height: 44px;
    }

    .second_header>img {
        display: flex;
        height: 30px;
        padding-right: 8px;
        padding-top: 8px;
    }

    .head {
        margin-top: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        /* padding-top: 6px; */
    }
    .current_price {
        display: none ;
    }
    .one1 p:nth-child(1) {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
        padding: 0;
        margin-top: 12px;
    }

    .one1 p:nth-child(2) {
        font-weight: 400;
        font-size: 14px;
    }

    .one1 p:nth-child(4) {
        display: none !important;
    }

    .one1 p:nth-child(5) {
        font-size: 20px;
    }

    .one1 p:nth-child(6) {
        font-size: 16px;
    }
    .side-crop {
        max-width: 100%;
        /* height:600px !important; */
        overflow: hidden;
    }
    .testClass{
        height: 400px;
    }
    .trek__cursive{
        font-size: 1.5em; 
        word-wrap: normal;
        padding: 0;
        margin: 0;
    }

    /* .slider_splide_react */
.sliderDestination .slider-splide .splide .splide__arrows .splide__arrow--next {
    right: -1rem !important;
    top: 37%;
}
.sliderDestination .slider-splide .splide .splide__arrows .splide__arrow--prev {
    left: -1rem;
    top: 37%;
}
}