.footer_boundary {
    background-color: rgba(87, 190, 190, 1);
    width: 100%;
    margin-top: 50px;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
}

.footer_container h1 {
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: black !important;
    margin-bottom: 20px;
}

.Thrillo_div p {
    font-size: 16px;
    line-height: 20px;
    width: 284px;
    height: 180px;
}

.Links_div {
    min-width: 50% !important;
}


.Legal {
    width: 17%;
}

.Newsletter {
    max-width: 194px;
}

.footer_container ul li {
    list-style: none;
    line-height: 20px;
    margin-bottom: 12px;
    font-size: 16px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.socials img {
    height: 40px;
}

.combo__link_contact {
    display: flex;
    font-size: 16px !important;
    width: 30%;
    line-height: 2rem;
    justify-content: space-between;
}

.footer_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer_form>input {
    display: flex;
    border: 1px solid lightgray;
    padding: 12px;
    margin: 6px 0;
}

.footer_form>button {
    display: flex;
    border: 1px solid lightgray;
    padding: 12px;
    margin: 6px 0;
    align-items: center;
    justify-content: center;
    color: #57BEBE;
    text-transform: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact_span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

.contact_span>svg {
    margin-top: 5px;
}

.contact_span>p {
    line-height: 20px;
    font-size: 16px;
    margin-left: 4px;
}

.thankyou__span {
    color: #585454;
    font-size: 12px;
    line-height: 1rem;
    padding: 2px 0;
}

.Thrillo_div img {
    display: none;

}

@media(max-width:900px) {

    .socials img {
        height: 32px;
    }

    .contact_span>p {
        line-height: 18px;
        font-size: 12px;
    }

    .Thrillo_div img {
        display: block;
        width: 120px;
    }

    .combo__link_contact {
        display: flex;
        flex-direction: row;
        padding: 21px 0;
        justify-content: space-evenly;
        width: 65%;
        align-items: baseline;
    }

    .footer_boundary {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .Legal {
        display: none;
    }

    .Thrillo_div>h1 {
        display: none;
    }

    .Thrillo_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Thrillo_div p {
        width: 80%;
        height: fit-content;
        font-size: 12px;
        text-align: center;
    }

    .footer_container h1 {
        margin-bottom: 10px;
        font-size: 20px;

    }

    .newsletter_li {
        font-size: 12px !important;
    }

    .Newsletter {
        text-align: center;
    }

    .footer_container ul li {
        line-height: 18px;
        font-size: 12px;
    }
}